body {
	margin: 0px;
	padding: 0px;
	font-family: arial, helvetica, sans-serif;
	background-color: #FFFFFF;
}

a:active {
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}

table.top {
	vertical-align: top;
	border-bottom: solid;
	border-color: #010101;
	padding: 0px;
	padding-top: 0px;
	width: 100%;
	height: 80px;
	background-color: #598FE3;
	color: #FFFFFF;
	background-image: url("../img/sqlbot.png");
	background-repeat: no-repeat;
}

table.main {
	vertical-align: top;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

table.config {
	vertical-align: top;
	border: solid;
	border-color: #010101;
	margin: 0px;
	padding: 0px;
	background-color: #598FE3;
	color: #FFFFFF;
	background-image: url("../img/back.gif");
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 375px;
}

table.statsarea {
	vertical-align: top;
	border: solid;
	border-color: #010101;
	margin: 0px;
	padding: 0px;
	background-color: #598FE3;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 375px;
}

table.userdbarea {
	vertical-align: top;
	border: solid;
	border-color: #010101;
	margin: 0px;
	padding: 0px;
	background-color: #598FE3;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 100%;
}

table.userdb {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	border: solid;
	border-color: #010101;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 100%;
}

table.userinfo {
	vertical-align: top;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 50%;
}

table.chatlog {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	border: solid;
	border-color: #010101;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 100%;
}

table.stats {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	border: none;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	width: 100%;
}

table.updown {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	border: none;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	height: 100%;
}


td.chatlog {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	border: solid;
	border-color: #281AFF;
	color: #FFFFFF;
	padding-left: 5px;
	padding-bottom: 3px;
	width: 100%;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0.1px;
	border-bottom-width: 0.5px;
}

td.menu {
	border-bottom: solid;
	border-right: solid;
	border-color: #010101;
	vertical-align: top;
	margin: 0px;
	padding: 5px;
	width: 100px;
	background-color: #598FE3;
}

td.main {
	vertical-align: top;
	margin: 0px;
	padding: 5px;
	background-color: #FFFFFF;
}

td.stats {
	width: 200px;
	color: #010101;
	background-color: #d8faff;
	background-image: url("../img/percent.gif");
	background-repeat: repeat-y;
	padding: 0px;
}

.form_input {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 200px;
}

.search_input {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 100px;
}

.password {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 100px;
}
.form_select {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 80px;
}

.form_select_long {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 100px;
}

.form_time {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 100px;
}


.form_checkbox {
	background: #9CE0FF;
	color: #000000;
}

.form_textarea {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 200px;
	height: 90px;
}

.form_textarea_long {
	font-family: arial, helvetica, sans-serif;
	padding-left: 3px;
	background: #9CE0FF;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	font-size: 10px;
	width: 200px;
	height: 135px;
}



.form_noedit {
	width: 194px;
	font-size: 10px;
	color: #6C6C6C;
	text-decoration: none;
	background: #9CE0FF;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	border: solid;
	border-width: 2px;
	border-color: #E9E9E9;
	border-left-color: #A2A2A2;
	border-top-color: #A2A2A2;
}


input.button {
	font-weight: normal;
	font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-color:#b0b0b0;
}

input.menubutton {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	width: 80px;
	border-color: #b0b0b0;
	border-style: solid;
	border-width: 1px;
	font-weight: normal;
	padding: 0px;
}

input.menubuttonselected {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	width: 80px;
	background-color: #598FE3;
	color: #FFFFFF;
	border-color: #598FE3;
	border-style: solid;
	border-width: 1px;
	padding: 0px;
}


input.userdbcol {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
	width: 100%;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}

input.userdbnicknormal {
	font-weight: normal;
	color: #FFFFFF;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}


input.userdbBot {
	color: #010101;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}

input.userdbBotMaster {
	font-weight: bold;
	color: #33FF00;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}


input.userdbOPADM {
	font-weight: bold;
	color: yellow;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}

input.userdbOP {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}

input.userdbVIP {
	font-style: italic;
	color: #FFFFFF;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}


input.userdbERROR {
	text-decoration: blink;
	color: #FFFFFF;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #b0b0b0;
	background-color: #598FE3;
}

input.deldata {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: #598FE3;
	background-color: #598FE3;
}


#dek {POSITION:absolute;VISIBILITY:hidden;Z-INDEX:200;}

table.popup {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	margin: 10px;
	padding: 0px;
	color: #010101;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}